**Notebook to do API requests**

---

**Libraries**

In [1]:
import foursquare as fsq
import os
import pandas as pd
import io
import requests
from dotenv import load_dotenv
import geopandas as gpd

# Foursquare API requests

I will be requesting information from **Foursquare** using the coordinates of the company that located at the center of the respective gaming-design-tech hub:
- San Francisco: Globant (37.781929, -122.404176)
- South San Francisco: NGM Biopharmaceuticals (37.656246, -122.399735)
- New York: Cellufun (40.739930, -73.993049)
- London (GBR): paymo (51.514165, -0.109017)

Based on my employees requirements I did requests on Foursquare where I specified the **query** (string, first parameter), the **city** (coordinates), the **radius** of the search (first number), the **category** in foursquare (second number) (not always, only in the `getFoursquareCategory` function), and I **limited** the response to 5 results. The resuls were sorted by distance.

```python
    schools = getFoursquareCategory("school", city, 2000, 12058, token_fsq, limit=5)
    clubs = getFoursquareCategory("night club", city, 2000, 10032, token_fsq, limit=5)
    starbucks = getFoursquare("starbucks", city, 2000, token_fsq, limit=5)
    basketball = getFoursquare("basketball stadium", city, 10000, token_fsq, limit=5)
    dog = getFoursquareCategory("dog grooming", city, 10000, 11134, token_fsq, limit=5)
    airport = getFoursquareCategory("airport", city, 50000, 19040, token_fsq, limit=5)
    vegan = getFoursquareCategory("vegan restaurant", city, 2000, 13377, token_fsq, limit=5)
```

**Defining coordinates based on other companies' location**

In [2]:
sanfran = [37.781929, -122.404176]
south_sanfran = [37.656246, -122.399735]
newyork = [40.739930, -73.993049]
london = [51.514165, -0.109017]

**Loading token**

In [3]:
load_dotenv()

True

In [4]:
token_fsq = os.getenv("new_key")

## San Francisco

In [5]:
sanfran_df = fsq.getEverythingFoursquare(sanfran, token_fsq)

In [7]:
sanfran_geodf = fsq.geoDataframe(sanfran_df)

In [24]:
sanfran_df.head()

,query,name,address,distance,lat,lon,type,geometry
0,school,AltSchool Yerba Buena,"300 4th St, San Francisco, CA 94107",255,37.781815,-122.401127,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.40113 37.78182)
1,school,San Francisco Unified School District,"825 Shotwell St, San Francisco, CA 94110",348,37.780650,-122.400556,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.40056 37.78065)
2,school,American College of Early Childhood Education,"760 Market St, San Francisco, CA 94102",503,37.786362,-122.405338,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.40534 37.78636)
3,school,Bessie Carmichael Elementary School,"55 Sherman St, San Francisco, CA 94103",561,37.777146,-122.406228,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.40623 37.77715)
4,school,Bessie Carmichael Pre-K School,"55 Sherman St, San Francisco, CA 94103",612,37.776734,-122.406491,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.40649 37.77673)

**Exporting dataset**

In [8]:
# sanfran_df.to_csv('../data/sanfrancisco_activities.csv', index = False)
# sanfran_geodf.to_csv('../data/sanfrancisco_geo_activities.csv', index = False)

## South San Francisco

In [9]:
south_sanfran_df = fsq.getEverythingFoursquare(south_sanfran, token_fsq)

In [11]:
south_sanfran_geodf = fsq.geoDataframe(south_sanfran_df)

In [23]:
south_sanfran_df.head()

,query,name,address,distance,lat,lon,type,geometry
0,school,Martin Elementary School,"35 School St, South San Francisco, CA 94080",1195,37.663471,-122.410062,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.41006 37.66347)
1,school,Academic Insight,"325 Corey Way, South San Francisco, CA 94080",1259,37.644996,-122.401457,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.40146 37.64500)
2,school,All Souls Catholic School,"479 Miller Ave (Spruce), South San Francisco, ...",1369,37.657254,-122.415280,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.41528 37.65725)
3,school,All Souls Catholic School,"479 Miller Ave (Spruce), South San Francisco, ...",1369,37.657254,-122.415280,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.41528 37.65725)
4,school,Spruce Elementary School,"501 Spruce Ave, South San Francisco, CA 94080",1408,37.658973,-122.416312,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-122.41631 37.65897)

**Exporting dataset**

In [12]:
# south_sanfran_df.to_csv('../data/south_sanfrancisco_activities.csv', index = False)
# south_sanfran_geodf.to_csv('../data/south_sanfrancisco_geo_activities.csv', index = False)

## New York

In [13]:
newyork_df = fsq.getEverythingFoursquare(newyork, token_fsq)

In [15]:
newyork_geodf = fsq.geoDataframe(newyork_df)

In [22]:
newyork_df.head()

,query,name,address,distance,lat,lon,type,geometry
0,school,Holocaust Education Foundation,"20 W 20th St, New York, NY 10011",52,40.740084,-73.992460,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-73.99246 40.74008)
1,school,Victory Schools,"18 W 18th St, New York, NY 10011",118,40.738875,-73.993286,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-73.99329 40.73888)
2,school,Ps 340,"590 Avenue of the Americas (17th St.), New Yor...",203,40.739036,-73.995301,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-73.99530 40.73904)
3,school,Kane School Of Core Integration,"7 E 17th St, New York, NY 10003",256,40.737837,-73.991761,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-73.99176 40.73784)
4,school,Shield Institute,"114 W 17th St, New York, NY 10011",277,40.739441,-73.996278,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-73.99628 40.73944)

**Exporting dataset**

In [16]:
# newyork_df.to_csv('../data/newyork_activities.csv', index = False)
# newyork_geodf.to_csv('../data/newyork_geo_activities.csv', index = False)

## London

In [17]:
london_df = fsq.getEverythingFoursquare(london, token_fsq)

In [19]:
london_geodf = fsq.geoDataframe(london_df)

In [21]:
london_df.head()

,query,name,address,distance,lat,lon,type,geometry
0,school,St Albans Primary School,"Baldwins Gardens, London, EC1N 7SD",681,51.520223,-0.110579,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.11058 51.52022)
1,school,St Clement Danes C of E Primary School,"Drury Lane, London, Greater London, WC2B 5SU",732,51.513546,-0.119311,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.11931 51.51355)
2,school,St Josephs R C Primary School,"Macklin St, London, WC2B 5NA",921,51.516073,-0.121987,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12199 51.51607)
3,school,Christopher Hatton Primary School,"38 Laystall St, London, Greater London, EC1R 4PQ",985,51.522687,-0.112286,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.11229 51.52269)
4,school,"The British School, Tehran","Devonshire House, 60 Goswell Rd, London, EC1M 7AD",1259,51.523182,-0.097971,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.09797 51.52318)

**Exporting dataset**

In [20]:
# london_df.to_csv('../data/london_activities.csv', index = False)
# london_geodf.to_csv('../data/london_geo_activities.csv', index = False)